*.o
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
libtool
ltmain.sh
man/Makefile
man/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/odfgrep
stamp-h1
